<a href="https://colab.research.google.com/github/sonpvs/data-science/blob/main/xuly_dulieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Xác thực ổ đĩa Drive
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
# Đọc file dữ liệu từ Drive
df = pd.read_csv('drive/My Drive/Colab Notebooks/01. BDG/data.csv', index_col=None, error_bad_lines=False)

In [ ]:
df.head()

In [ ]:
tencot = df.columns

In [ ]:
"""
lt =[]
for t in tencot:
    t = t.replace('VỐNXÃ','VỐN XÃ')
    t=t.strip()
    lt.append(t)

tencot = lt
"""

In [ ]:
#df.columns = tencot

In [ ]:
df.head()

   TUỔI  HỌC VẤN  TUỔI KẾT HÔN  ...  NHỊ PHÂN BĐG  NhomTuoi  NhomHocvan
0    47        7            18  ...           1.0         3           0
1    37        5            19  ...           0.0         2           0
2    28        9            18  ...           1.0         1           1
3    45        9            23  ...           1.0         2           1
4    28       11            23  ...           1.0         1           1

[5 rows x 65 columns]

In [ ]:
# Xử lý dữ liệu lỗi
df.fillna(df.mean())

In [ ]:
# Phân nhóm Tuoi
# Tuổi : 22 đến  29 =  1;   30 đến  45 = 2;   Trên 45 = 3

df['NhomTuoi']=0

def nhtuoi(a):
    if (a >= 22) & (a<=29):
       return 1
    elif (a >= 30) & (a<=45):
       return 2
    else:
       return 3


# Chạy từng dòng để nhóm độ tuổi
for row in df.index:
    c= df.iloc[row]['TUỔI']
    df.iloc[row, df.columns.get_loc('NhomTuoi')] = nhtuoi(c)

In [ ]:
# Phân nhóm Hoc van
# Học vấn: 5 đến  7 = 0;   9 đến 15 = 1

df['NhomHocvan']=0

def nh_Hocvan(a):
    if (a >= 5) & (a<=8):
       return 0
    elif (a >= 9) & (a<=15):
       return 1

# Chạy từng dòng để nhóm học vấn
for row in df.index:
    c= df.iloc[row]['HỌC VẤN']
    df.iloc[row, df.columns.get_loc('NhomHocvan')] = nh_Hocvan(c)

In [ ]:
# Phân nhóm Tuổi kết hôn
#Tuổi kết hôn: 16 đến 18 = 0; 19 đến  27 = 1

df['NhomTuoiKH']=0

def nh_TuoiKH(a):
    if (a >= 16) & (a<=18):
       return 0
    elif (a >= 19) & (a<=27):
       return 1

for row in df.index:
    c= df.iloc[row]['TUỔI KẾT HÔN']
    df.iloc[row, df.columns.get_loc('NhomTuoiKH')] = nh_TuoiKH(c)

In [ ]:
# Phân nhóm Số con
# Số con: 1 đến 2 = 1; 3 đến 5 = 0 

df['NhomSocon']=0

def nh_TuoiSocon(a):
    if (a >= 1) & (a<=2):
       return 1
    elif (a >= 3) & (a<=5):
       return 0

for row in df.index:
    c= df.iloc[row]['SỐ CON']
    df.iloc[row, df.columns.get_loc('NhomSocon')] = nh_TuoiSocon(c)

In [ ]:
df.head()

   TUỔI  HỌC VẤN  TUỔI KẾT HÔN  ...  NhomHocvan  NhomTuoiKH  NhomSocon
0    47        7            18  ...           0           0          1
1    37        5            19  ...           0           1          0
2    28        9            18  ...           1           0          1
3    45        9            23  ...           1           1          1
4    28       11            23  ...           1           1          1

[5 rows x 67 columns]

In [ ]:
df.to_csv('data_02.csv')